DATABASENAME="easyline"
HOST="mongodb+srv://easyline:6%26s1SfNgtR1y@cluster0.pfbkd.mongodb.net/myFirstDatabase?authSource=admin&replicaSet=atlas-b54j3e-shard-0&w=majority&readPreference=primary&appname=MongoDB%20Compass%20Community&retryWrites=true&ssl=true"
REDIS_HOST="db_regis"
REDIS_PORT=6379